<appSettings>
  <clear />
  <add key="AmazonAccessKeyId" value="@{AmazonAccessKeyId}"/>
  <add key="AmazonSecretKey" value="@{AmazonSecretKey}" />
  <add key="AmazonAssociateTag" value="@{AmazonAssociateTag}"/>
  <add key="UserAgent" value="@{UserAgent}"/>
  <add key="RoviApiKey" value="@{RoviApiKey}"/>
  <add key="RoviApiSecret" value="@{RoviApiSecret}"/>
</appSettings>