<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
  <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-NewMusicSunshine.Website-20150213200142;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-NewMusicSunshine.Website-20150213200142.mdf" />
  <add name="SunshineDbConnection" connectionString="Server=tcp:lzvlhukbdy.database.windows.net,1433;Database=SunshineDB;User ID=devlogin@lzvlhukbdy;Password=XyNtEKW2JgG5;Trusted_Connection=False;Encrypt=True;Connection Timeout=30"
    providerName="System.Data.SqlClient" />  
</connectionStrings>